<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Homemade+Apple&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>NOTES</title>
</head>

<body class="vh-100 w-100 d-flex justify-content-center align-items-center bg-black">
    
    <div class="container d-flex flex-column justify-content-center align-items-center gap-2 p-5" id="bookcontents">
     
        <a href="/addnewnote" id="bookcontents-add" class="p-2">New<i class="bi bi-pencil"></i></a>
        <a href="/viewnoteslist" id="bookcontents-list" class="p-2">view your notes <i class="bi bi-journal-bookmark-fill"></i></a>
        <a href="/" id="home"  class="p-2">home</a>

    </div>

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html